Repository yyz945947732/gzteacher-auth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

doc: 更新关键词
  package.json
Due: none

doc: 文档更新
  README.md
  src/stories/介绍.mdx
Due: prettier --write

doc: 文档更新
  README.md
  package.json
  src/stories/介绍.mdx
Due: prettier --write

chore: 依赖更新
  package.json
Due: none

fix: RouteGuard 限定 v6 版本
  package.json
  src/core/components/RouteGuard/index.tsx
  src/stories/RouteGuard.stories.tsx
  src/stories/路由权限.mdx
Due: prettier --write, eslint --fix

doc: 完善文档
  README.md
  src/stories/介绍.mdx
Due: prettier --write

doc: 更新文档链接
  README.md
Due: none

doc: 徽章链接更新
  README.md
Due: none

fix: react-router-dom6 使用 npm 链接
  package.json
Due: none

fix: 修复依赖了 commonjs 语法问题
  src/core/components/Button/index.tsx
  src/core/components/Select/index.tsx
  src/core/components/Tab/index.tsx
  src/core/components/Table/index.tsx
Due: prettier --write, eslint --fix

fix: 版本号更新
  package.json
Due: none

build: package.json 更改
  package.json
  src/core/components/RouteGuard/index.tsx
  src/stories/介绍.mdx
Due: prettier --write, eslint --fix

build: package.json 更改
  .npmrc
  package.json
Due: none

build: package.json 更新
  package.json
Due: none

feat: 添加 Menu 组件
  README.md
  src/core/components/Menu/index.tsx
  src/core/index.tsx
  src/index.ts
  src/stories/Menu.stories.tsx
  src/stories/介绍.mdx
Due: prettier --write, eslint --fix

doc: 更新文档
  README.md
  package.json
Due: none

build: 大宝优化
  package.json
  rollup.config.mjs
Due: none

build: package.json 去除 eslint 配置
  .eslintrc
  .eslintrc.js
  package.json
Due: none

feat: 添加 .editorconfig
  .editorconfig
  rollup.config.mjs
Due: none

build: terser 插件更换
  package.json
  rollup.config.mjs
Due: none

style: stories 写法优化
  src/stories/Button.stories.tsx
  src/stories/Deny.stories.tsx
  src/stories/Menu.stories.tsx
  src/stories/Provider.stories.tsx
  src/stories/Proxy.stories.tsx
  src/stories/RouteGuard.stories.tsx
  src/stories/Select.stories.tsx
  src/stories/Tab.stories.tsx
  src/stories/Table.stories.tsx
  src/stories/Wrapper.stories.tsx
Due: prettier --write, eslint --fix

test: 完善测试
  .gitignore
  babel.config.cjs
  jest.config.js
  package.json
  rollup.config.mjs
  src/scripts/jest-css-transform.js
  src/test/Button.test.tsx
  src/test/DenyWrapper.test.tsx
  src/test/Provider.test.tsx
  src/test/Wrapper.test.tsx
Due: prettier --write, eslint --fix

teat: 添加 proxy 测试用例
  src/scripts/jest-css-transform.js
  src/test/Proxy.test.tsx
Due: prettier --write, eslint --fix

test: 添加 Tab 组件测试用例
  src/core/components/Menu/index.tsx
  src/core/components/Tab/index.tsx
  src/test/Button.test.tsx
  src/test/DenyWrapper.test.tsx
  src/test/Provider.test.tsx
  src/test/Proxy.test.tsx
  src/test/Tab.test.tsx
  src/test/Wrapper.test.tsx
Due: prettier --write, eslint --fix

test: 添加 Table 组件测试用例
  src/test/Table.test.tsx
Due: prettier --write, eslint --fix

ci: 添加测试 CI 流程
  .github/workflows/chromatic.yml
  .github/workflows/doc.yml
  jest.config.js
  package.json
Due: none

style: .lintstagedrc 文件格式化
  .lintstagedrc
Due: none

ci: 构建流程调整
  .github/workflows/doc.yml
Due: none

ci: 构建流程调整
  .github/workflows/doc.yml
  jest.config.js
  package.json
Due: none

doc: 添加测试覆盖率
  .github/workflows/doc.yml
  README.md
  src/stories/介绍.mdx
Due: prettier --write

test: 添加 Menu 测试用例
  .github/workflows/doc.yml
  package.json
  src/core/components/Menu/index.tsx
  src/stories/Menu.stories.tsx
  src/test/Menu.test.tsx
Due: prettier --write, eslint --fix

test: 添加路由守卫测试用例
  README.md
  src/test/RouteGuard.test.tsx
Due: prettier --write, eslint --fix

test: 完善测试用例
  src/test/RouteGuard.test.tsx
Due: prettier --write, eslint --fix

doc: 更新版本号
  package.json
Due: none

test: 添加 useAuthData 测试用例
  src/test/useAuthData.test.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: src/**/*.tsx) or (any of: src/**/*.scss)) or (any of: src/**/*.mdx)) or (any of: src/**/*.md)
  eslint --fix: any of: src/**/*.tsx
