Repository yyz945947732/gzteacher-auth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "src/**/*.tsx": ["prettier --write", "eslint --fix"],
  "src/**/*.scss": ["prettier --write"],
  "src/**/*.mdx": ["prettier --write"],
  "src/**/*.md": ["prettier --write"]
}

doc: 文档更新
  src/stories/介绍.mdx
Due: prettier --write

doc: 文档更新
  READEME.zh-en.md
  README.md
Due: none

fix: 修复文档内容
  package.json
Due: none

doc: 添加 why use 文档
  .storybook/main.ts
  .storybook/preview.ts
  src/stories/为什么使用.mdx
  src/stories/组件.mdx
Due: prettier --write

doc: qa 文档
  src/stories/Q&A.mdx
Due: prettier --write

feat: 支持自定义权限验证字段
  src/core/components/Menu/index.tsx
  src/core/components/Nav/index.tsx
  src/core/components/RouteGuard/index.tsx
  src/core/components/Select/index.tsx
  src/core/components/Tab/index.tsx
  src/core/components/Table/index.tsx
  src/core/hooks/useAuthData.ts
  src/core/utils/isMatchAuth.ts
  src/stories/API.mdx
  src/stories/为什么使用.mdx
  src/stories/组件.mdx
  src/test/Menu.test.tsx
  src/test/Table.test.tsx
  src/test/useAuthData.test.tsx
Due: prettier --write, eslint --fix

doc: 版本号更新
  READEME.zh-en.md
  README.md
  package.json
Due: none

build: 添加之前的幽灵依赖
  package.json
Due: none

style: 用回 lodash-es
  package.json
  src/core/hooks/useAuthData.ts
  src/core/hooks/useDetect.ts
  src/core/utils/has.ts
  src/core/utils/index.ts
  src/core/utils/isMatchAuth.ts
  src/core/utils/isRegExp.ts
  src/core/utils/omit.ts
  src/test/useAuthData.test.tsx
Due: prettier --write, eslint --fix

doc: 纠正文档错误
  READEME.zh-en.md
  README.md
  src/stories/介绍.mdx
  src/stories/验证器.mdx
Due: prettier --write

test: 完善 Select 组件测试用例
  src/stories/为什么使用.mdx
  src/test/Select.test.tsx
Due: prettier --write, eslint --fix

style: 优化路有权限代码
  src/core/components/RouteGuard/index.tsx
  src/test/RouteGuard.test.tsx
Due: prettier --write, eslint --fix

style: 修复 hooks 写法问题
  .eslintrc
  package.json
  src/core/components/RouteGuard/index.tsx
  src/core/hooks/useAuthData.ts
Due: prettier --write, eslint --fix

doc: 文档更新
  READEME.zh-en.md
  README.md
  src/stories/介绍.mdx
Due: prettier --write

style: useAuthData 代码优化
  src/core/hooks/useAuthData.ts
Due: none

chore: version update
  READEME.zh-en.md
  README.md
  package.json
Due: none

style: Button Wrapper DenyWrapper 不使用三元判断
  src/core/components/Button/index.tsx
  src/core/components/DenyWrapper/index.tsx
  src/core/components/Wrapper/index.tsx
Due: prettier --write, eslint --fix

fix: 添加 Button.Group
  src/core/components/Button/index.tsx
  src/core/components/Menu/index.tsx
  src/core/components/Nav/index.tsx
  src/core/components/Select/index.tsx
  src/core/components/Tab/index.tsx
  src/core/components/Table/index.tsx
Due: prettier --write, eslint --fix

doc: 更新版本号
  package.json
Due: none

doc: 修复 license 地址
  READEME.zh-en.md
  README.md
  src/stories/介绍.mdx
Due: prettier --write

doc: img src
  READEME.zh-en.md
  README.md
  src/stories/介绍.mdx
Due: prettier --write

doc: doc link
  READEME.zh-en.md
  README.md
Due: none

feat: useDeepCompareEffect for auth
  src/core/components/Provider/index.tsx
  src/core/hooks/useAuth.ts
  src/core/hooks/useDeepCompareEffect.ts
  src/core/utils/createDeepCompareEffect.ts
Due: prettier --write, eslint --fix

chore: 0.2.4
  package.json
Due: none

chore: 0.2.5
  package.json
Due: none
