Repository yyz945947732/gzteacher-auth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

test: 添加 useMatchAuth 测试用例
  src/core/utils/index.ts
  src/test/useMatchAuth.test.tsx
Due: prettier --write, eslint --fix

test: 添加 useAuth 测试用例
  src/test/useAuth.test.tsx
Due: prettier --write, eslint --fix

feat: 添加 Nav 组件
  README.md
  src/core/components/DenyWrapper/index.tsx
  src/core/components/Menu/index.tsx
  src/core/components/Nav/index.tsx
  src/core/components/Provider/index.tsx
  src/core/components/Proxy/index.tsx
  src/core/components/Tab/index.tsx
  src/core/index.tsx
  src/index.ts
  src/stories/Nav.stories.tsx
  src/stories/介绍.mdx
  src/test/Nav.test.tsx
Due: prettier --write, eslint --fix

feat: 添加 Nav 组件
  README.md
  package.json
Due: none

feat: Provider support disabled auth
  src/core/components/DenyWrapper/index.tsx
  src/core/components/Provider/index.tsx
  src/core/components/Wrapper/index.tsx
  src/core/hooks/useAuthData.ts
  src/core/hooks/useMatchAuth.ts
  src/core/utils/index.ts
  src/test/Provider.test.tsx
  src/test/Wrapper.test.tsx
Due: prettier --write, eslint --fix

feat: Provider auth support Array、String type
  src/core/components/Provider/index.tsx
  src/core/utils/index.ts
  src/test/Provider.test.tsx
Due: prettier --write, eslint --fix

doc: update english doc
  README.md
  README.zh-cn.md
Due: none

doc: update english doc
  README.md
  README.zh-cn.md
  src/stories/介绍.mdx
Due: prettier --write

doc: update english doc
  README.md
Due: none

fix: 更改 auth setter 类型提示
  README.md
  src/core/components/Provider/index.tsx
Due: prettier --write, eslint --fix

build: 去除 lodash-es 依赖
  package.json
  src/core/components/Provider/index.tsx
  src/core/hooks/useAuthData.ts
  src/core/hooks/useDetect.ts
  src/core/utils/has.ts
  src/core/utils/index.ts
  src/core/utils/isMatchAuth.ts
  src/core/utils/omit.ts
Due: prettier --write, eslint --fix

doc: update doc link
  README.md
  README.zh-cn.md
Due: none

doc: 更新版本号
  package.json
Due: none

feat: 添加 withAuth 工具函数
  READEME.zh-en.md
  README.md
  package.json
  src/core/index.tsx
  src/core/utils/withAuth.tsx
  src/index.ts
  src/test/withAuth.test.tsx
Due: prettier --write, eslint --fix

doc: 文档更新
  READEME.zh-en.md
  README.md
Due: none

doc: 文档更新
  src/stories/介绍.mdx
Due: prettier --write

feat: 添加 validator 配置
  src/core/components/Provider/index.tsx
  src/core/hooks/useMatchAuth.ts
  src/core/utils/isMatchAuth.ts
  src/test/Provider.test.tsx
Due: prettier --write, eslint --fix

test: 完善 validator 测试
  src/core/components/Provider/index.tsx
  src/test/Provider.test.tsx
Due: prettier --write, eslint --fix

doc: 版本号更新
  package.json
Due: none

test: 测试用例文本调整
  src/test/Provider.test.tsx
Due: prettier --write, eslint --fix

doc: 添加 api 文档
  src/core/hooks/useAuthData.ts
  src/stories/API.mdx
  src/test/Nav.test.tsx
Due: prettier --write, eslint --fix

doc: 新增组件文档
  .gitignore
  .npmrc
  .storybook/main.ts
  package.json
  src/stories/组件.mdx
  src/stories/验证器.mdx
Due: prettier --write

doc: 完善文档
  src/stories/组件.mdx
  src/stories/验证器.mdx
Due: prettier --write

doc: 完善文档
  src/stories/权限代理.mdx
  src/stories/组件.mdx
  src/stories/验证器.mdx
Due: prettier --write

doc: 完善文档
  src/stories/组件.mdx
Due: prettier --write

doc: 添加引入文档
  src/stories/引入.mdx
Due: prettier --write

test: 添加 Auth 测试用例
  src/test/Auth.test.tsx
Due: prettier --write, eslint --fix

feat: 添加 Validator 组件
  src/core/components/Provider/index.tsx
  src/core/components/Validator/index.tsx
  src/core/hooks/useAuthData.ts
  src/core/hooks/useMatchAuth.ts
  src/core/index.tsx
  src/core/utils/isMatchAuth.ts
  src/core/utils/isRegExp.ts
  src/index.ts
  src/test/Validator.test.tsx
Due: prettier --write, eslint --fix

doc: 更新文档
  READEME.zh-en.md
  README.md
  src/stories/Validator.stories.tsx
Due: prettier --write, eslint --fix

doc: 更新 Validator 文档
  src/stories/权限代理.mdx
  src/stories/组件.mdx
  src/stories/验证器.mdx
Due: prettier --write

doc: 验证器文档更新
  src/stories/验证器.mdx
Due: prettier --write

style: 格式修复
  src/core/index.tsx
  src/stories/组件.mdx
Due: prettier --write, eslint --fix

doc: 介绍排在前面
  .storybook/main.ts
Due: none

doc: 更新在线地址
  READEME.zh-en.md
  README.md
Due: none

test: 完善测试覆盖率
  .storybook/main.ts
  src/core/components/RouteGuard/index.tsx
  src/core/hooks/useAuthData.ts
  src/core/hooks/useDetect.ts
  src/test/Select.test.tsx
  src/test/Wrapper.test.tsx
Due: prettier --write, eslint --fix

doc: 更新在线文档链接
  READEME.zh-en.md
  README.md
Due: none

doc: 文档语句调整
  READEME.zh-en.md
  README.md
Due: none

Path conditions:
  prettier --write: (((any of: src/**/*.tsx) or (any of: src/**/*.scss)) or (any of: src/**/*.mdx)) or (any of: src/**/*.md)
  eslint --fix: any of: src/**/*.tsx
