Repository yyz945947732/gzteacher-auth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "src/**/*.tsx": ["prettier --write", "eslint --fix"],
  "src/**/*.scss": ["prettier --write"],
  "src/**/*.mdx": ["prettier --write"],
  "src/**/*.md": ["prettier --write"]
}

chore: 添加 chromatic 命令
  .gitignore
  package.json
  yarn.lock
Due: none

doc: 添加在线文档
  README.md
Due: none

chore: 代码优化
  .gitignore
  .lintstagedrc
  .prettierrc
  .storybook/main.ts
  README.md
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/core/components/Button/index.tsx
  src/core/hooks/useMatchAuth.ts
  src/core/index.css
  src/core/index.tsx
  src/index.tsx
  src/stories/Button.stories.tsx
  src/stories/Deny.stories.tsx
  src/stories/Provider.stories.tsx
  src/stories/Proxy.stories.tsx
  src/stories/Wrapper.stories.tsx
  src/stories/介绍.mdx
  yarn.lock
Due: prettier --write, eslint --fix

chore: 命令修改
  package.json
Due: none

chore: 删除 lock 文件
  package-lock.json
  yarn.lock
Due: none

chore: 过滤 storybook 打包文件夹
  .gitignore
Due: none

fix: 修复打包问题
  .gitignore
  package.json
  rollup.config.js
  src/index.ts
Due: none

fix: 打包修复
  package.json
  rollup.config.mjs
  src/core/components/Deny/index.tsx
  src/core/components/Provider/index.tsx
  src/core/components/Wrapper/index.tsx
Due: prettier --write, eslint --fix

fix: 修复文档上传问题
  .commitlintrc.js
  .eslintrc.js
  README.md
  package.json
Due: none

feat: 添加 ci
  .github/workflows/chromatic.yml
Due: none

style: 去除多余依赖
  package.json
  rollup.config.mjs
  src/react-app-env.d.ts
Due: none

doc: 完善文档
  README.md
  src/stories/介绍.mdx
Due: prettier --write

doc: 完善文档
  package.json
Due: none

doc: 完善文档
  .gitignore
  README.md
Due: none

doc: 完善文档
  README.md
Due: none

feat: 添加 Select 组件
  .eslintrc.js
  README.md
  package.json
  src/core/components/Select/index.tsx
  src/core/hooks/useAuthData.ts
  src/core/index.tsx
  src/core/utils/index.ts
  src/stories/Button.stories.tsx
  src/stories/Select.stories.tsx
  src/stories/介绍.mdx
Due: prettier --write, eslint --fix

feat: 添加 TAB 组件
  README.md
  package.json
  src/core/components/Button/index.tsx
  src/core/components/Deny/index.tsx
  src/core/components/Tab/index.tsx
  src/core/components/Wrapper/index.tsx
  src/core/index.tsx
  src/index.ts
  src/stories/Tab.stories.tsx
  src/stories/介绍.mdx
Due: prettier --write, eslint --fix

doc: 文档更新
  README.md
Due: none

feat: 支持树形结构
  .storybook/manager-head.html
  README.md
  package.json
  src/core/components/Tab/index.tsx
  src/core/hooks/useAuthData.ts
  src/stories/Select.stories.tsx
Due: prettier --write, eslint --fix

style: prettier
  src/core/utils/index.ts
  src/index.ts
Due: none

feat: 表格组件
  README.md
  src/core/components/Button/index.tsx
  src/core/components/Select/index.tsx
  src/core/components/Tab/index.tsx
  src/core/components/Table/index.tsx
  src/core/index.tsx
  src/index.ts
  src/stories/Table.stories.tsx
  src/stories/介绍.mdx
Due: prettier --write, eslint --fix

feat: 添加表格组件
  src/core/components/Button/index.tsx
  src/core/components/Deny/index.tsx
  src/core/components/Proxy/index.tsx
  src/core/components/Select/index.tsx
  src/core/components/Tab/index.tsx
  src/core/components/Table/index.tsx
  src/core/components/Wrapper/index.tsx
  src/core/hooks/useDetect.ts
Due: prettier --write, eslint --fix

doc: 文档链接更新
  README.md
Due: none

chore: Deny -> DenyWrapper
  README.md
  src/core/components/DenyWrapper/index.tsx
  src/core/components/Wrapper/index.tsx
  src/core/index.tsx
  src/index.ts
  src/stories/Deny.stories.tsx
  src/stories/Table.stories.tsx
  src/stories/介绍.mdx
Due: prettier --write, eslint --fix

feat: useAuthData 新增 childrenKey 配置项
  src/core/hooks/useAuthData.ts
Due: none

feat: 添加 useAuth 方法
  README.md
  src/core/components/Provider/index.tsx
  src/core/hooks/useAuth.ts
  src/core/index.tsx
  src/index.ts
  src/stories/介绍.mdx
Due: prettier --write, eslint --fix

feat: 添加 RouteGuard 组件
  README.md
  package.json
  src/core/components/RouteGuard/index.tsx
  src/core/index.tsx
  src/index.ts
  src/stories/Deny.stories.tsx
  src/stories/RouteGuard.stories.tsx
  src/stories/Table.stories.tsx
  src/stories/介绍.mdx
Due: prettier --write, eslint --fix

fix: 修复打包失败问题
  src/core/components/RouteGuard/index.tsx
Due: prettier --write, eslint --fix

doc: 更新文档
  README.md
Due: none

doc: 完善文档
  package.json
  src/stories/路由权限.mdx
Due: prettier --write

doc: 完善文档
  .storybook/YourTheme.js
  README.md
  src/stories/介绍.mdx
Due: prettier --write

style: 优化文档样式
  .storybook/main.ts
  .storybook/manager.js
  .storybook/theme.js
  README.md
  package.json
  public/logo.png
  src/stories/介绍.mdx
Due: prettier --write

doc: 更新在线文档地址
  README.md
Due: none

feat: 添加 MIT 证书
  LICENCE.md
  package.json
Due: none

fix: 移除私有标签
  package.json
Due: none

chore: 声明文件不打包文档代码
  package.json
  rollup.config.mjs
Due: none
